body{
    width: 100vw;
    height: 100vh;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 50vh;
}

#header h1{
    display: inline-block;
    color: rgb(34, 181, 181);
    width: 50vw;
    text-align: center;
}

#header p{
    display: inline-block;
    width:50vw;
    font-size: 24pt;
    text-align: center;
}

@media (max-width: 768px) {
    #header {
        flex-direction: column;
    }

    #header h1 {
        width: 100%;
    }

    #header p {
        width: 100%;
        padding: 10px 0 10px 0;
        text-align: center;
    }
}

nav{
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav li a{
    text-decoration: none;
    color: black;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
    padding: 10px;
    margin: 10px;
    background-color: rgb(44, 215, 215);
    border-radius: 10px;
}

nav li a:hover{
    color: white;
}

.hidden{
    opacity: 0;
    filter: blur(2px);
    transition: all 2s;
}

.show{
    filter: blur(0);
    opacity: 1;
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}

#projectsContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

#box{
    width:960px;
    height: 480px;
    background-color: rgba(223, 223, 223, 0.5);
    border-radius:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#box h2{
    margin-top:-20%;
    font-family: SanFranProBold;
    position: absolute;
}

#box i{
    font-size: 24pt;
    color: black;
    text-align: center;
}

